*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: sans-serif;
}


/* ---------------------------------------- */
/* NAVBAR TOP */
/* ---------------------------------------- */

.navbar-top {
    width: 110%; /* Ocupa todo el ancho disponible */
    height: 10vh; /* Altura del navbar superior relativa al viewport */
    display: flex; /* Usa Flexbox para alinear elementos */
    align-items: center; /* Centra verticalmente los elementos */
    text-align: center; /* Alinea el texto al centro */
    justify-content: space-between; /* Distribuye espacio entre los elementos */
}

/* iconos derecha */
.icons-top {
    display: flex;
    gap: 20px; /* Espacio entre íconos */
    align-items: center;
}


.icons-top i {
    font-size: 25px;
    color: #000000;
    transition: 0.5s;
    cursor: pointer;
}

.icons-top i:hover {
    color: rgb(12, 81, 178); /* Color azul al hacer hover */
}


/* imagen inico */

.logo {
    width: 100%; /* Ocupa todo el ancho disponible */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente (opcional) */
    margin: 0 auto; /* Asegura el centrado en navegadores antiguos */
    text-align: center;
}


/* Opcional: si quieres centrar también verticalmente en el navbar */
.navbar-top {
    height: 100px; /* Ajusta según tu necesidad */
}





/* navbar */
#navbar-color{
    background-color: rgb(12, 81, 178);
}
.navbar-nav{
    margin: auto;
}
.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
}
.nav-link:hover{
    color: white;
}
/* navbar */




/* Content */

.section{
    width: 100%;
    /* Margen de altura entre las secciones */
    min-height: 60vh;
    background-color: rgb(255, 255, 255);
}

.container-content{
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding-top: 100px;

}

/* .container h3{
    font-weight: bold;
    
} */

.container h1 {
    font-weight: bold;
}

.section p{
    color: rgb(12, 81, 178);
    font-size: 70px;
    font-weight: bold;
}

.content-section{
    float: left;
    width: 55%;
    /* background-color: black; */
}

.content-section h1{
    font-weight: bold;
}

.content-section p{
    color: rgb(12, 81, 178);
    font-size: 10px;
    font-weight: bold;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 500px;
    font-weight: bold;
}


.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size:70px;
    line-height: 1.5;

}


/* card3 */
#c h4{
    font-weight: unset;
    font-size: small;
}

#c p{
    font-weight: bold;
}
#btn3{
    text-align: center;
}
#btn3 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn3 button:hover{
    background-color: rgba(62, 60, 60, 0.194);
}

/*  */
.icons i{
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.container #c{
    text-align: center;
  }

  #c .card-body a{
    color: black;
    text-decoration: none;
}



/* footer */
#footer{
    width: auto;
    

    background-color: black;
    margin-top: 150px;
}
#footer h1{
    color: white;
    padding-top: 30px;
}
#footer p{
    color: white;
}

/* Color para los icones de las R.S. */
.icons i{
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
}

.footer a{
    color: black;
    text-decoration: none;
}

/* En caso de hacerlo individualmente ICONS */
/* #code i{
    color: white;
} */

.copyright{
    color: white;
    margin-top: 20px;
}
.credite{
    color: white;
}
/* footer */